RewriteEngine On
RewriteCond %{HTTP_HOST} ^(www\.)?mejoraok\.com$ [NC]
RewriteRule ^(.*)$ https://util.mejoraok.com/mejoracontactos/$1 [R=301,L]
RewriteBase /mejoracontactos/
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /mejoracontactos/index.html [L]
